<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Article</title>

    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
          rel="stylesheet">
    <script src="webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

</head>
<body>
<form th:object="${article}" th:action="@{/addarticle}" method="post">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
        <label class="col-sm-4">Article Name</label>
        <input type="text" class="form-control" th:field="*{name}" placeholder="Article num">
    </div>
    <div class="form-group">                                                   <!--for == id-->
        <label class="col-sm-2">Article Text</label>                            <!--<label for="exampleFormControlSelect1">Example select</label>-->
        <input class="text" th:field="*{text}" placeholder="Write your article here!"/>   <!--<select class="form-control" id="exampleFormControlSelect1">-->
    </div>
    <div class="form-group">
        <label class="col-sm-2">Article Date</label>
        <input type="text" th:field="*{date}" placeholder="YYYY-MM-DD" />
    </div>
    <div class="form-group">
        <label class="col-sm-2">Writer</label>
        <input type="text" th:field="*{writer}"/>
    </div>

    <button type="submit">Add Article</button>
</form>
</body>
</html>